<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-script-Type" content="text/html/javascript; charset=utf-8" /> 
<title>Plussia.ru — страна серьезных отношений: Регистрация, шаг 1</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/main.js"></script>


</head>


<body>
<div id="content">	

	<div class="register_head" id="register_page">
		<div class="margins">	
			<div class="register_logo"><a href="/"><img src="/images/register/logo.png" /></a></div>
			<div class="register_menu">
				<ul>
					<li id="rm_li1" class="active"><i></i>Увлечения</li>
					<li id="rm_li2" class="rm_red"><i></i>Быстрый результат</li>
					<li id="rm_li3"><i></i>Анкета</a></li>
					<li id="rm_li4"><i></i>Ноэтическая Совместимость®</li>
					<li id="rm_li5"><i></i>Мои предпочтения</li>
					<li id="rm_li6" class="last">Создать профиль<div></div></li>
				</ul>
			</div>
		</div><!-- .margins-->	
	</div><!-- .register_head-->
	
	
	<div class="register_main">
		<div class="margins">
			<div class="left_column">
				<div class="left_column_in" id="left_reg_column_in">
					<div id="register_step4">
						<div class="nic_top_controls">
							<div class="step_title">&lt;strong&gt;S.O.N.I.C.&lt;/strong&gt;<span class="title_r">®</span></div>
							<div class="nic_top_steps">
								<ul>
									<li id="nic_top_li1"></li>
									<li id="nic_top_li2"></li>
									<li id="nic_top_li3"></li>
									<li id="nic_top_li4"></li>
									<li id="nic_top_li5"></li>								
								</ul>
							</div><!-- .nic_top_steps-->
							<div class="clear"></div>

<div class="select_text" id="select_text6">
Заполните 5 блоков Системы Ноэтической Совместимости<span class="title_r">®</span>.<br/>
Выберете первую из пяти тему для заполнения:
</div>


<div class="select_text" id="select_text2">
Заполните 5 блоков Системы Ноэтической Совместимости<span class="title_r">®</span>.<br/>
Выберете вторую из пяти тему для заполнения:
</div>

<div class="select_text" id="select_text3">
Заполните 5 блоков Системы Ноэтической Совместимости<span class="title_r">®</span>.<br/>
Выберете третью из пяти тему для заполнения:
</div>

<div class="select_text" id="select_text4">
Заполните 5 блоков Системы Ноэтической Совместимости<span class="title_r">®</span>.<br/>
Выберете четвертую из пяти тему для заполнения:
</div>

<div class="select_text" id="select_text5">
Заполните 5 блоков Системы Ноэтической Совместимости<span class="title_r">®</span>.<br/>
Выберете 5 из пяти тему для заполнения:
</div>

<div class="select_text" id="select_text1" style="display:block;">
Поздравляем!<br/><br/> Заполнение анкеты Системы Ноэтической Совместимости<span class="title_r">®</span> завершено!<br/><br/><br/>
<div id="register_go_next5">Следующий шаг</div>
<div class="clear"></div>
</div>



							<div class="nic_step_select">
								<ul>
									<li id="nic_sel_li1" class="new_li">Организм</li>
									<li id="nic_sel_li2" class="new_li" style="font-size: 15px;">Деятельность</li>
									<li id="nic_sel_li3" class="new_li">Семья</li>
									<li id="nic_sel_li4" class="new_li">Мечты</li>
									<li id="nic_sel_li5" class="new_li">Друзья</li>								
								</ul>												
							</div><!-- .nic_step_select-->
							<div class="clear"></div>											
						</div><!-- .nic_top_controls-->	
						
						<div class="nic_questions_blocks">
							<div id="nic_question_block1" class="nic_question_block">
								<div class="block_title">Блок «Семья» Системы Ноэтической Совместимости<span class="title_r">®</span></div>
								<div class="nic_question">
									<div class="q_title">1. Какие качества Вам хотелось бы, чтобы разделял и уважал Ваш будущий спутник?</div>
									<div class="q_descr">(выберите 3 наиболее близких Вам качества)</div>
								<div class="q_checks">
									<div class="p_checkbox" id="som_check1">Дружелюбный</div>
									<div class="p_checkbox" id="som_check2">Дружелюбный</div>
									<div class="p_checkbox" id="som_check3">Дружелюбный</div>
									<div class="p_checkbox" id="som_check4">Дружелюбный</div>
									<div class="p_checkbox" id="som_check5">Дружелюбный</div>
									<div class="p_checkbox" id="som_check6">Дружелюбный</div>
									<div class="p_checkbox" id="som_check7">Дружелюбный</div>
									<div class="p_checkbox" id="som_check8">Дружелюбный</div>
									<div class="p_checkbox" id="som_check9">Дружелюбный</div>
									<div class="p_checkbox" id="som_check10">Дружелюбный</div>
									<div class="p_checkbox" id="som_check11">Дружелюбный</div>
									<div class="p_checkbox" id="som_check12">Дружелюбный</div>

								</div>
								
								</div><!-- .nic_question-->	
								
								
								
								
								
								
								<div class="nic_question">
									<div class="q_title"><span>2.</span><span class="not_num"> Поясните, почему именно эти качества, по-вашему, будут идеально поддерживать ваши отношения? Потому, что…</span>
</div>
									<div class="q_descr">(Распределите 15 баллов между вариантами)</div>
								<div class="q_marks" id="test123">
									
									<div class="q_mark_summ"><div class="summ_in">1</div></div>
									
									<div class="q_mark_line">
										<div class="q_mark_text">Так жить легко, не нужно думать о завтрашнем дне. Главное быть живым и здоровым, удовлетворяясь тем, что имеешь сегодня.</div>
										<div class="q_marks_ctrls">
										 	<span id="some_qm1" class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line odd" id="some_qm2">
										<div class="q_mark_text">В таких семьях крепкие кровные узы, которые защищают нас. Случись чего - за семью я буду мстить.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line" id="some_qm3">
										<div class="q_mark_text">Во главе семьи стоит самый умный, самый опытный, самый сильный человек, который знает, что должен делать каждый член семьи.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line odd" id="some_qm4">
										<div class="q_mark_text">В правильно организованной семья, каждый способен достигнуть душевного мира и реализовать смысл жизни.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line" id="some_qm5">
										<div class="q_mark_text">Именно в такой семье раскрывается индивидуальность каждого и люди помогают в развитии друг друга.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->																																					
									<div class="q_mark_line" id="some_qm6">
										<div class="q_mark_text">В таком союзе каждый может жить в гармонии с собой и с миром, все-таки «…что тебе нужно - это любовь».</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	


								</div><!-- .q_marks-->	
								
								</div><!-- .nic_question-->									
								
								
								
								
						













		
								
								
								
			<div class="nic_question">
									<div class="q_title"><span>3.</span><span class="not_num"> Отметьте, что лично Вы от этого получаете?</span>
</div>
									<div class="q_descr">(Распределите 15 баллов между вариантами)</div>
								<div class="q_marks" id="test456">
									
									<div class="q_mark_summ"><div class="summ_in">1</div></div>
									
									<div class="q_mark_line" id="some_qm11">
										<div class="q_mark_text">Я живу, и так меньше забот, а мои инстинкты мне в этом помогают.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line odd" id="some_qm12">
										<div class="q_mark_text">Это дает мне опору, защищает меня, опираясь на семейные связи я могу решить свои проблемы.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line" id="some_qm13">
										<div class="q_mark_text">Силу, покровительство и ресурсы, защиту от трудностей, опасностей и предательств.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line odd" id="some_qm14">
										<div class="q_mark_text">Уверенность в завтрашнем дне, уходит тревожность, появлется душевное спокойствие и я понимаю, что живу правильно.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	
									
									<div class="q_mark_line" id="some_qm15">
										<div class="q_mark_text">Это расширяет мои границы, дает возможность проявить себя по-новому и добиться успеха.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->																																					
									<div class="q_mark_line" id="some_qm16">
										<div class="q_mark_text">Это мне дает радость, когда я вижу как каждый принят, раскрывает себя и живет в мире.</div>
										<div class="q_marks_ctrls">
										 	<span class="value">0</span>
										 	<div class="set_left"></div>
										 	<div class="set_right"></div>
										</div>
									</div><!-- .q_mark_line-->	


								</div><!-- .q_marks-->	
								
								</div><!-- .nic_question-->	

								
								
								
								
								<div class="nic_question completed">
									<div class="q_title">4. Если Вы обиделись на своего спутника, Вы: </div>
									<div class="q_descr">(передвиньте бегунок на тот уровень, который соответствует Вашей реакции.)</div>
								<div class="question_photo">
									<img src="/images/temp_samples/reg_step_4_1.jpg" />
								</div>

								<div class="q_tracks">
								
									<div class="q_track_line">	
										<div class="q_track_text">
											Придумаю, как сделать что либо в отмеску, текст максимум две строки 
										</div><!-- .q_track_line-->
																		
										<div class="q_track">
											<div class="q_track_scale">
												<div class="min">мин</div>
												<div class="max">макс</div>
											</div>
											<div id="slider-range-min" class="range_track"></div>
										</div><!-- .q_track-->
									</div><!-- .q_track_line-->	


									<div class="q_track_line">	
										<div class="q_track_text">
											Придумаю, как сделать что либо в отмеску, текст максимум две строки 
										</div><!-- .q_track_line-->
																		
										<div class="q_track">
											<div class="q_track_scale">
												<div class="min">мин</div>
												<div class="max">макс</div>
											</div>
											<div class="range_track"></div>
										</div><!-- .q_track-->
									</div><!-- .q_track_line-->	
									
									
									
									<div class="q_track_line">	
										<div class="q_track_text">
											Придумаю, как сделать что либо в отмеску, текст максимум две строки 
										</div><!-- .q_track_line-->
																		
										<div class="q_track">
											<div class="q_track_scale">
												<div class="min">мин</div>
												<div class="max">макс</div>
											</div>
											<div class="range_track"></div>
										</div><!-- .q_track-->
									</div><!-- .q_track_line-->										


								</div><!-- .q_tracks-->
								
								</div><!-- .nic_question-->									
								
								
								<div class="close_nic_question">Назад</div>
								<div class="next_nic_question">Сохранить и выбрать следующий блок</div>
								<div class="clear"></div>
								
							</div><!-- #nic_question_block1-->
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
<div id="nic_question_block2" class="nic_question_block">
								<div class="block_title">Блок «Семья» Системы Ноэтической Совместимости<span class="title_r">®</span></div>
								<div class="nic_question">
									<div class="q_title">1. Какие качества Вам хотелось бы, чтобы разделял и уважал Ваш будущий спутник?</div>
									<div class="q_descr">(выберите 3 наиболее близких Вам качества)</div>
								<div class="q_checks">
									<div class="p_checkbox" id="som_check1">Дружелюбный</div>
									<div class="p_checkbox" id="som_check2">Дружелюбный</div>
									<div class="p_checkbox" id="som_check3">Дружелюбный</div>
									<div class="p_checkbox" id="som_check4">Дружелюбный</div>
									<div class="p_checkbox" id="som_check5">Дружелюбный</div>
									<div class="p_checkbox" id="som_check6">Дружелюбный</div>
									<div class="p_checkbox" id="som_check7">Дружелюбный</div>
									<div class="p_checkbox" id="som_check8">Дружелюбный</div>
									<div class="p_checkbox" id="som_check9">Дружелюбный</div>
									<div class="p_checkbox" id="som_check10">Дружелюбный</div>
									<div class="p_checkbox" id="som_check11">Дружелюбный</div>
									<div class="p_checkbox" id="som_check12">Дружелюбный</div>

								</div>
								
								</div><!-- .nic_question-->	
								
								
													
								
								
								<div class="close_nic_question">Назад</div>
								<div class="next_nic_question">Сохранить и выбрать следующий блок</div>
								<div class="clear"></div>
								
							</div><!-- #nic_question_block2-->							
							
							
							
							
							
							
<div id="nic_question_block3" class="nic_question_block">
								<div class="block_title">Блок «Семья» Системы Ноэтической Совместимости<span class="title_r">®</span></div>
								<div class="nic_question">
									<div class="q_title">1. Какие качества Вам хотелось бы, чтобы разделял и уважал Ваш будущий спутник?</div>
									<div class="q_descr">(выберите 3 наиболее близких Вам качества)</div>
								<div class="q_checks">
									<div class="p_checkbox" id="som_check1">Дружелюбный</div>
									<div class="p_checkbox" id="som_check2">Дружелюбный</div>
									<div class="p_checkbox" id="som_check3">Дружелюбный</div>
									<div class="p_checkbox" id="som_check4">Дружелюбный</div>
									<div class="p_checkbox" id="som_check5">Дружелюбный</div>
									<div class="p_checkbox" id="som_check6">Дружелюбный</div>
									<div class="p_checkbox" id="som_check7">Дружелюбный</div>
									<div class="p_checkbox" id="som_check8">Дружелюбный</div>
									<div class="p_checkbox" id="som_check9">Дружелюбный</div>
									<div class="p_checkbox" id="som_check10">Дружелюбный</div>
									<div class="p_checkbox" id="som_check11">Дружелюбный</div>
									<div class="p_checkbox" id="som_check12">Дружелюбный</div>

								</div>
								
								</div><!-- .nic_question-->	
								
								
													
								
								
								<div class="close_nic_question">Назад</div>
								<div class="next_nic_question">Сохранить и выбрать следующий блок</div>
								<div class="clear"></div>
								
							</div><!-- #nic_question_block3-->	
							
							
							
							
							
							
							
							
<div id="nic_question_block4" class="nic_question_block">
								<div class="block_title">Блок «Семья» Системы Ноэтической Совместимости<span class="title_r">®</span></div>
								<div class="nic_question">
									<div class="q_title">1. Какие качества Вам хотелось бы, чтобы разделял и уважал Ваш будущий спутник?</div>
									<div class="q_descr">(выберите 3 наиболее близких Вам качества)</div>
								<div class="q_checks">
									<div class="p_checkbox" id="som_check1">Дружелюбный</div>
									<div class="p_checkbox" id="som_check2">Дружелюбный</div>
									<div class="p_checkbox" id="som_check3">Дружелюбный</div>
									<div class="p_checkbox" id="som_check4">Дружелюбный</div>
									<div class="p_checkbox" id="som_check5">Дружелюбный</div>
									<div class="p_checkbox" id="som_check6">Дружелюбный</div>
									<div class="p_checkbox" id="som_check7">Дружелюбный</div>
									<div class="p_checkbox" id="som_check8">Дружелюбный</div>
									<div class="p_checkbox" id="som_check9">Дружелюбный</div>
									<div class="p_checkbox" id="som_check10">Дружелюбный</div>
									<div class="p_checkbox" id="som_check11">Дружелюбный</div>
									<div class="p_checkbox" id="som_check12">Дружелюбный</div>

								</div>
								
								</div><!-- .nic_question-->	
								
								
													
								
								
								<div class="close_nic_question">Назад</div>
								<div class="next_nic_question">Сохранить и выбрать следующий блок</div>
								<div class="clear"></div>
								
							</div><!-- #nic_question_block4-->	
							
							
							
							
							
<div id="nic_question_block5" class="nic_question_block">
								<div class="block_title">Блок «Семья» Системы Ноэтической Совместимости<span class="title_r">®</span></div>
								<div class="nic_question">
									<div class="q_title">1. Какие качества Вам хотелось бы, чтобы разделял и уважал Ваш будущий спутник?</div>
									<div class="q_descr">(выберите 3 наиболее близких Вам качества)</div>
								<div class="q_checks">
									<div class="p_checkbox" id="som_check1">Дружелюбный</div>
									<div class="p_checkbox" id="som_check2">Дружелюбный</div>
									<div class="p_checkbox" id="som_check3">Дружелюбный</div>
									<div class="p_checkbox" id="som_check4">Дружелюбный</div>
									<div class="p_checkbox" id="som_check5">Дружелюбный</div>
									<div class="p_checkbox" id="som_check6">Дружелюбный</div>
									<div class="p_checkbox" id="som_check7">Дружелюбный</div>
									<div class="p_checkbox" id="som_check8">Дружелюбный</div>
									<div class="p_checkbox" id="som_check9">Дружелюбный</div>
									<div class="p_checkbox" id="som_check10">Дружелюбный</div>
									<div class="p_checkbox" id="som_check11">Дружелюбный</div>
									<div class="p_checkbox" id="som_check12">Дружелюбный</div>

								</div>
								
								</div><!-- .nic_question-->	
								
								
													
								
								
								<div class="close_nic_question">Назад</div>
								<div class="next_nic_question">Сохранить и выбрать следующий блок</div>
								<div class="clear"></div>
								
							</div><!-- #nic_question_block5-->							
																					
							
							
						</div><!-- .nic_questions_blocks-->	
						
					</div><!-- #register_step4-->
					
				</div><!-- .left_column_in-->
			</div><!-- .left_column-->	
			
<div class="right_column">

                        <div id="register_pie" class="register_pie">
                            <div id="rp_list1" class="rp_list" style="right: -9px; top: -17px;">
                                <i class="rpl_on" style="display: none;"></i><i class="rpl_off" style="display: inline;"></i>
                            </div>
                            <div id="rp_list2" class="rp_list" style="right: -11px; top: 59px;">
                                <i class="rpl_on" style="display: none;"></i><i class="rpl_off" style="display: inline;"></i>
                            </div>
                            <div id="rp_list3" class="rp_list" style="right: 33px; top: 82px;">
                                <i class="rpl_on" style="display: none;"></i><i class="rpl_off" style="display: inline;"></i>
                            </div>
                            <div id="rp_list4" class="rp_list">
                                <i class="rpl_on"></i><i class="rpl_off"></i>
                            </div>
                            <div id="rp_list5" class="rp_list">
                                <i class="rpl_on"></i><i class="rpl_off"></i>
                            </div>
                        </div><!-- #register_pie-->

                        <div class="register_progress">
                            <div class="rp_text">Шаг 2: регистрация заполнена на 10%</div>
                            <div class="rp_fill" style="width: 15%;"></div>
                        </div>
                        
                        <div id="right_col_postload" style="display: block;">

	            
	     			   </div><!-- .right_col_postload-->

                    </div><!-- .right_column-->
			
		</div><!-- .margins-->
	</div><!-- .main-->
	
	
	<div class="clear"></div>
	<div id="empty"></div>
</div><!-- #content-->

<div id="footer">	

</div><!-- #footer-->				

	
</body>


</html>

