<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-script-Type" content="text/html/javascript; charset=utf-8" /> 
<title>Plussia.ru — страна серьезных отношений: Регистрация, шаг 1</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/main.js"></script>


</head>


<body>
<div id="content">	

	<div class="register_head" id="register_page">
		<div class="margins">	
			<div class="register_logo"><a href="/"><img src="/images/register/logo.png" /></a></div>
			<div class="register_menu">
				<ul>
					<li id="rm_li1" class="active"><i></i>Увлечения</li>
					<li id="rm_li2" class="rm_red"><i></i>Быстрый результат</li>
					<li id="rm_li3"><i></i>Анкета</a></li>
					<li id="rm_li4"><i></i>Ноэтическая Совместимость®</li>
					<li id="rm_li5"><i></i>Мои предпочтения</li>
					<li id="rm_li6" class="last">Создать профиль<div></div></li>
				</ul>
			</div>
		</div><!-- .margins-->	
	</div><!-- .register_head-->
	
	
	<div class="register_main">
		<div class="margins">
			<div class="left_column">
				<div class="left_column_in" id="left_reg_column_in">
					<div class="step_title">Поздравляем, Василий</div>
					<div class="step_title_descr">Вы закончили заполнение Системы Анализа Совместимости!</div>
					
					<div id="register_step3">
					



<div class="congrat_text">
Вы закончили заполнение Системы Анализа портала Plussia.ru и Ваша личная страница уже создана. Вы ее увидите, когда нажмете ниже на кнопку «Перейти к моей странице». Не забудьте добавить свою фотографию, так как по мнению британских исследователей социальных сетей, в интернете профили с фотографией на 80% более успешны, чем без фото.
</div>

<ul class="congrat_ul">
	<li><a href="#"><span>Что дальше?</span></a></li>
	<li><a href="#"><span>Жизнь профиль и платные услуги сервиса?</span></a></li>
	<li><a href="#"><span>Можно ли перезаполнить анкетные данные и &lt;strong&gt;S.O.N.I.C.&lt;/strong&gt;® ?</span></a></li>
	<li><a href="#"><span>Могу ли редактировать/уточнять/заполнять профиль?</span></a></li>
</ul>
				
					
																						
						<div id="register_go_next6">Перейти к моей странице</div>
						
						<div style="display:none;" id="right_col_load">
				<div class="reg3_r_col">
	            	<div class="register_main_col_img">
						<img src="/images/temp_samples/reg_step_6_1.jpg" />
	            	</div><!-- .register_main_col_img-->						
	            	<div class="register_main_col_img_txt">
	            	Browse through several different topics and see what members are saying. Browse through several different topics and see what members are saying.
	            	</div>
	            	
				</div>						
						</div>
						
					</div><!-- #register_step3-->
					
				</div><!-- .left_column_in-->
			</div><!-- .left_column-->	
			
<div class="right_column">

                        <div id="register_pie" class="register_pie">
                            <div id="rp_list1" class="rp_list" style="right: -9px; top: -17px;">
                                <i class="rpl_on" style="display: none;"></i><i class="rpl_off" style="display: inline;"></i>
                            </div>
                            <div id="rp_list2" class="rp_list" style="right: -11px; top: 59px;">
                                <i class="rpl_on" style="display: none;"></i><i class="rpl_off" style="display: inline;"></i>
                            </div>
                            <div id="rp_list3" class="rp_list" style="right: 33px; top: 82px;">
                                <i class="rpl_on" style="display: none;"></i><i class="rpl_off" style="display: inline;"></i>
                            </div>
                            <div id="rp_list4" class="rp_list">
                                <i class="rpl_on"></i><i class="rpl_off"></i>
                            </div>
                            <div id="rp_list5" class="rp_list">
                                <i class="rpl_on"></i><i class="rpl_off"></i>
                            </div>
                        </div><!-- #register_pie-->

                        <div class="register_progress">
                            <div class="rp_text">Шаг 2: регистрация заполнена на 10%</div>
                            <div class="rp_fill" style="width: 15%;"></div>
                        </div>
                        
                        <div id="right_col_postload" style="display: block;">

	            
	     			   </div><!-- .right_col_postload-->

                    </div><!-- .right_column-->
			
		</div><!-- .margins-->
	</div><!-- .main-->
	
	
	<div class="clear"></div>
	<div id="empty"></div>
</div><!-- #content-->

<div id="footer">	

</div><!-- #footer-->				

	
</body>


</html>

