<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-script-Type" content="text/html/javascript; charset=utf-8" /> 
<title>Plussia.ru — страна серьезных отношений: Регистрация, шаг 1</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

</head>


<body>
<div id="content">	

	<div class="register_head" id="why_we_are">
		<div class="margins">	
			<div class="register_logo"><a href="/"><img src="/images/register/logo.png" /></a></div>
			<div class="register_menu">
				<ul>
					<li><i></i><a href="/">Главная</a></li>
					<li><i></i><a href="#">Экскурсия по сайту</a></li>
					<li class="active"><i></i><a href="#">Наши преимущесмтва </a></li>
					<li><i></i><a href="#">Успешные истории</a></li>
					<li class="last"><i></i>Присоединиться</li>
				</ul>
			</div>
		</div><!-- .margins-->	
	</div><!-- .register_head-->
	
	
	<div class="register_main why_we_are_main tour_main storys_main">
		<div class="margins">
			
			<div class="goods_menu tour_menu">
				<ul>
					<li class="active first"><a href="#">Галлерея Успешных Историй </a><i></i></li>
					<li class="active"><a href="#">Ваша территрия</a><i></i></li>
					<li><a href="#">Найди любовь</a><i></i></li>
					<div class="clear"></div>
				</ul>
			</div>
			
			<a href="#" class="find_2_part">Найди свою вторую половинку</a>
			
			<div class="photo_storys inline">
				<div id="albums">
				
				</div>
				
				<div class="bottom_in_block_2">
					<div class="yellow_button green_button">Добавить свою историю</div>
					<div class="yellow_button">Зарегистрироваться</div>
				</div>
			
			</div>
			
			<div class="right_menu_col inline">
				<a href="#" class="baner"><img alt="Поделиться историей" src="/images/temp_samples/go_with_us.jpg" /></a>
				<div class="title">Разделы успешных историй</div>
				<ul>
					<li><a href="#">Когда расстояние - не преграда...</a></li>
					<li><a href="#">Одинокие родители</a></li>
					<li><a href="#">Они верели только в чудо</a></li>
					<li><a href="#">Кому за 50</a></li>
					<li><a href="#">Дети сайта Pararu.ru</a></li>
					<li><a href="#">Одинокие сердца</a></li>
					<li><a href="#">Они выиграли свадьбу</a></li>
					<li><a href="#">Жили по соседству, а теперь вместе</a></li>
					<li><a href="#">Европа, Украина и другие страны</a></li>
					<li><a href="#">Интернациональные</a></li>
					<li><a href="#">Молодые пары</a></li>
					<li><a href="#">и многое другое...</a></li>					
				</ul>
			</div>
						
		</div><!-- .margins-->
	</div><!-- .main-->
	
	
	<div class="clear"></div>
	<div id="empty"></div>
</div><!-- #content-->

<div id="footer">	
	<div class="margins">
		<div class="bookmarks_menu">
			<div class="path">
				<a href="#">Наши преимущесмтва </a>
				<a href="#">Преимущества  Pararu.ru </a>
			</div>
			
			<div class="one_bookmark one_bookmark9"></div>
			<div class="one_bookmark one_bookmark8"></div>
			<div class="one_bookmark one_bookmark7"></div>
			<div class="one_bookmark one_bookmark6"></div>
			<div class="one_bookmark one_bookmark5"></div>
			<div class="one_bookmark one_bookmark4"></div>
			<div class="one_bookmark one_bookmark3"></div>
			<div class="one_bookmark one_bookmark2"></div>
			<div class="one_bookmark one_bookmark1"></div>
		</div><!-- .bookmarks_menu-->
		
		<div class="footer_menu">
			<div class="rights"><a href="#">Политика конфиденциальности</a> © 2010 Plussia.ru</div>
			<ul class="footer_menu_ul">
				<li><a href="#">о сайте</a></li>
				<li><a href="#">техподдержка</a></li>
				<li><a href="#">вакансии</a></li>
				<li><a href="#">блог</a></li>
				<li><a href="#">правила</a></li>
				<li><a href="#">реклама</a></li>
				<li><a href="#">магазинам</a></li>
				<li class="last"><a href="#">выход</a></li>
			</ul><!-- .footer_menu_ul-->
			
			<div class="lang_sel">
				<div class="lang_flag">
					<span>
						<img src="/images/localization/flag_ru.png" />
					</span>
				</div>
				<div class="lang_active">русский</div>
				<ul class="lang_menu">
					<li><a href="/en">английский</a></li>
					<li><a href="/ge">немецкий</a></li>
					<!-- Текущий язык помещается в список последним  -->
					<li><a href="/ru">русский</a></li>									
				</ul>
			</div><!-- .lang_sel-->
		</div><!-- .footer_menu-->
		
	</div><!-- .margins-->
</div><!-- #footer-->					

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

	
</body>


</html>

