<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-script-Type" content="text/html/javascript; charset=utf-8" /> 
<title>Plussia.ru — страна серьезных отношений: Регистрация, шаг 1</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

</head>


<body>
<div id="content">	

	<div class="register_head" id="why_we_are">
		<div class="margins">	
			<div class="register_logo"><a href="/"><img src="/images/register/logo.png" /></a></div>
			<div class="register_menu">
				<ul>
					<li><i></i><a href="/">Главная</a></li>
					<li><i></i><a href="#">Экскурсия по сайту</a></li>
					<li class="active"><i></i><a href="#">Наши преимущесмтва </a></li>
					<li><i></i><a href="#">Успешные истории</a></li>
					<li class="last"><i></i>Присоединиться</li>
				</ul>
			</div>
		</div><!-- .margins-->	
	</div><!-- .register_head-->
	
	
	<div class="register_main why_we_are_main tour_main">
		<div class="margins">
			<div class="left_column">
				<div class="left_column_in">
					<div class="goods_menu tour_menu">
						<ul>
							<li><a href="#">С чего начать?</a></li>
							<li><a href="#">Ваша территрия</a></li>
							<li><a href="#">Найди любовь</a></li>
							<li><a href="#">Присоединяйтесь</a></li>
							<li><a href="#">Общайтесь</a></li>
							<li class="active"><a href="#">Встречайтесь</a></li>
							<div class="clear"></div>
						</ul>
					</div>
					 
					<div class="text_block">
						<div class="h1">Счастье есть и оно рядом</div>	
<p>					
Так хочется счастья и любви! Plussia.ru подарит радость от общения с человеком, который составит ваше счастье. Начните поиски своей второй половинки прямо сейчас! Счастье рядом, и нужно всего лишь захотеть его найти. А мы поможем. Наша система предлагает людей, чьи взгляды на отношения и жизнь созвучны с вашими. Просматривайте их профили, общайтесь с ними, назначайте встречи и вы непременно отыщите свою любовь.
</p>

				
						
					<div class="get_in_now">
					
						<div class="get_in_txt">Найдите подходящего именно Вам<br/> спутника жизни по 78 параметрам<br/>Системы Ноэтической* Совместимости®!</div>
						<div class="get_in_btn">Зарегистрироваться</div>
						<div class="clear"></div>
					</div>	<!-- .get_in_now-->							
						
					</div><!-- .text_block-->
				</div><!-- .left_column_in-->
			</div><!-- .left_column-->	
			
			<div class="right_column">
				<div class="tour_img_col">
					<div class="tour_img_col_img"><img src="/images/why_we_are/tour6.jpg" /></div>					
					<div class="img_name">Все, для того, чтобы вы нашли друг друга!</div>
					<div class="img_txt">
В жизни многое зависит от случая. Возможно, именно счастливый случай привел вас на этот сайт. Мы используем случай во благо тех, кто желает найти вторую половинку. Plussia.ru поможет найти человека, который создан для вас. Именно для вас! Регистрируйтесь прямо сейчас и отправляйтесь навстречу своему счастью!
				</div>


					</div>


			</div><!-- .right_column-->
			
		</div><!-- .margins-->
	</div><!-- .main-->
	
	
	<div class="clear"></div>
	<div id="empty"></div>
</div><!-- #content-->

<div id="footer">	
	<div class="margins">
		<div class="bookmarks_menu">
			<div class="path">
				<a href="#">Наши преимущесмтва </a>
				<a href="#">Преимущества  Pararu.ru </a>
			</div>
			
			<div class="one_bookmark one_bookmark9"></div>
			<div class="one_bookmark one_bookmark8"></div>
			<div class="one_bookmark one_bookmark7"></div>
			<div class="one_bookmark one_bookmark6"></div>
			<div class="one_bookmark one_bookmark5"></div>
			<div class="one_bookmark one_bookmark4"></div>
			<div class="one_bookmark one_bookmark3"></div>
			<div class="one_bookmark one_bookmark2"></div>
			<div class="one_bookmark one_bookmark1"></div>
		</div><!-- .bookmarks_menu-->
		
		<div class="footer_menu">
			<div class="rights"><a href="#">Политика конфиденциальности</a> © 2010 Plussia.ru</div>
			<ul class="footer_menu_ul">
				<li><a href="#">о сайте</a></li>
				<li><a href="#">техподдержка</a></li>
				<li><a href="#">вакансии</a></li>
				<li><a href="#">блог</a></li>
				<li><a href="#">правила</a></li>
				<li><a href="#">реклама</a></li>
				<li><a href="#">магазинам</a></li>
				<li class="last"><a href="#">выход</a></li>
			</ul><!-- .footer_menu_ul-->
			
			<div class="lang_sel">
				<div class="lang_flag">
					<span>
						<img src="/images/localization/flag_ru.png" />
					</span>
				</div>
				<div class="lang_active">русский</div>
				<ul class="lang_menu">
					<li><a href="/en">английский</a></li>
					<li><a href="/ge">немецкий</a></li>
					<!-- Текущий язык помещается в список последним  -->
					<li><a href="/ru">русский</a></li>									
				</ul>
			</div><!-- .lang_sel-->
		</div><!-- .footer_menu-->
		
	</div><!-- .margins-->
</div><!-- #footer-->					

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

	
</body>


</html>

