<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-script-Type" content="text/html/javascript; charset=utf-8" /> 
<title>Plussia.ru — страна серьезных отношений: Регистрация, шаг 1</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

</head>


<body>
<div id="content">	

	<div class="register_head" id="why_we_are">
		<div class="margins">	
			<div class="register_logo"><a href="/"><img src="/images/register/logo.png" /></a></div>
			<div class="register_menu">
				<ul>
					<li><i></i><a href="/">Главная</a></li>
					<li><i></i><a href="#">Экскурсия по сайту</a></li>
					<li class="active"><i></i><a href="#">Наши преимущесмтва </a></li>
					<li><i></i><a href="#">Успешные истории</a></li>
					<li class="last"><i></i>Присоединиться</li>
				</ul>
			</div>
		</div><!-- .margins-->	
	</div><!-- .register_head-->
	
	
	<div class="register_main why_we_are_main">
		<div class="margins">
			<div class="left_column">
				<div class="left_column_in">
					<div class="goods_menu">
						<ul>
							<li class="active"><a href="#">Преимущества  Pararu.ru</a></li>
							<li><i>1</i><a href="#">Научный подход </a></li>
							<li><i>2</i><a href="#">&lt;strong&gt;S.O.N.I.C.&lt;/strong&gt;®</a></li>
							<li><i>3</i><a href="#">Эксперты-психологи</a></li>						
							<div class="clear"></div>
						</ul>
					</div>
					 
					<div class="text_block">
					
<div class="h1">Так начинаются серьезные отношения...</div>

<p>
<span class="strong">&lt;strong&gt;Система Ноэтической* Совместимости&lt;/strong&gt;®</span> не имеет ничего общего с традиционным способом обработки анкет, в котором используется простое сравнение данных.  В системе применяется уникальная методика анализа, разработанная с применением новых научных Российско-Американских разработок.
<span class="strong">&lt;strong&gt;S.O.N.I.C.&lt;/strong&gt;®</span>  оценивает не только базовые пожелания к партнеру, но и основные взгляды на жизнь, склад характера, мотивы. В результате система определяет истинные побуждения людей, желающих найти свою вторую половину, что позволят подобрать идеального партнера. 
</p>
<p>
Преимущества и уникальность системы в том, что на основе ответов, она определяет скрытые мотивы, желания, дает свою оценку действиям и позволяет понять, что же действительно хочет человек от своего партнера и кто ему нужен. 
</p>

<p class="micro_help">
*&lt;strong&gt;Ноэтический (Noetic)&lt;/strong&gt; здесь означает сексуальную, психологическую, эмоциональную, социальную и духовную совместимость.
</p>

<div class="h6">Наши преимущества</div>
<ul>
    <li>Эффективный научный подход к анализу данных</li> 
    <li>78 параметров совместимости</li>
    <li>Профессиональная психологическая помощь</li>
</ul>
<div class="h4">Всё для того, чтобы вы нашли друг друга</div>
В жизни многое зависит от случая. Возможно, именно счастливый случай привел вас на этот сайт. Мы используем случай во благо тех, кто желает найти вторую половинку. Plussia.ru поможет найти человека, который создан для вас. Именно для вас! Воспользовавшись <span class="strong">Системой Ноэтической* Совместимости®</span>, вы сможете выстроить долговременные отношения, полные гармонии и любви.					

				

<div class="get_in_now">
	<div class="get_in_txt">Найдите подходящего именно Вам<br/> спутника жизни по 78 параметрам<br/>Системы Ноэтической* Совместимости®!</div>
	<div class="get_in_btn">Зарегистрироваться</div>
	<div class="clear"></div>
</div>	<!-- .get_in_now-->				
					
					</div><!-- .text_block-->
				</div><!-- .left_column_in-->

					
<div class="main_good_cols">
	<div class="one_good_col one_good_col1">
		<div class="col_top">
			Научный <br/><span>анализ<br/>данных</span>
		</div>
		
		<div class="col_text">
<p>В основе Системы Ноэтической* Совместимости® находятся передовые открытия в психологии, ноэтики и социологии. Система опирается на науку 21 века и выбирает совместимого с вами человека по 78 параметрам, анализируя и сопоставляя их между собой. 
</p><p>
Чтобы разработать уникальную систему тестирования и безошибочно предлагать партнера, который действительно подходит,  специалисты работали 27 лет. Теперь мы знаем, что помогает людям выстраивать успешные отношения, и как найти человека, который создан для вас. И если вы хотите найти партера для счастливой совместной жизни — мы поможем.			
</p>			
		</div>
		

			<a class="know_more" href="#">Подробнее</a>
	
		
	</div><!-- .one_good_col1-->

	<div class="one_good_col one_good_col2">
		<div class="col_top">
			78 параметров <br/><span>совместимости</span>
		</div>
		
		<div class="col_text">
		
<p>
Найти человека, с которым у вас идеальная ноэтическая совместимость — еще не значит узнать его ближе и создать с ним долгосрочный союз. Профессиональные психологи нашего ресурса помогут вам выстроить необременительное общение с незнакомыми людьми, избавиться от напряжения и комплексов. Если вам хочется легких и результативных отношений с теми, кого предлагает вам система, загляните в специальный раздел нашего сайта «Помощь в общении». Уверены, советы наших специалистов и консультации по общим вопросам, помогут вам легко выстраивать отношения и не испытывать дискомфорта.			
</p>			
		</div>
		

			<a class="know_more" href="#">Подробнее</a>

	</div><!-- .one_good_col2-->
	
	
	<div class="one_good_col one_good_col3">
		<div class="col_top">
			Профессиональная<br/> <span>психологическая <br/>помощь	</span>
		</div>
		
		<div class="col_text">

<p>В основе Системы Ноэтической* Совместимости® находятся передовые открытия в психологии, ноэтики и социологии. Система опирается на науку 21 века и выбирает совместимого с вами человека по 78 параметрам, анализируя и сопоставляя их между собой. 
</p><p>
Чтобы разработать уникальную систему тестирования и безошибочно предлагать партнера, который действительно подходит,  специалисты работали 27 лет. Теперь мы знаем, что помогает людям выстраивать успешные отношения, и как найти человека, который создан для вас. И если вы хотите найти партера для счастливой совместной жизни — мы поможем.			
</p>		
			
		</div>
		
	
			<a class="know_more" href="#">Подробнее</a>

		
	</div><!-- .one_good_col3-->	
	<div class="clear"></div>

</div>	<!-- .main_good_cols-->	

			</div><!-- .left_column-->	
			
			<div class="right_column">
				<img src="/images/why_we_are/pokatai_mena_loshadka.png"/>
			</div><!-- .right_column-->
			
		</div><!-- .margins-->
	</div><!-- .main-->
	
	
	<div class="clear"></div>
	<div id="empty"></div>
</div><!-- #content-->

<div id="footer">	
	<div class="margins">
		<div class="bookmarks_menu">
			<div class="path">
				<a href="#">Наши преимущесмтва </a>
				<a href="#">Преимущества  Pararu.ru </a>
			</div>
			
			<div class="one_bookmark one_bookmark9"></div>
			<div class="one_bookmark one_bookmark8"></div>
			<div class="one_bookmark one_bookmark7"></div>
			<div class="one_bookmark one_bookmark6"></div>
			<div class="one_bookmark one_bookmark5"></div>
			<div class="one_bookmark one_bookmark4"></div>
			<div class="one_bookmark one_bookmark3"></div>
			<div class="one_bookmark one_bookmark2"></div>
			<div class="one_bookmark one_bookmark1"></div>
		</div><!-- .bookmarks_menu-->
		
		<div class="footer_menu">
			<div class="rights"><a href="#">Политика конфиденциальности</a> © 2010 Plussia.ru</div>
			<ul class="footer_menu_ul">
				<li><a href="#">о сайте</a></li>
				<li><a href="#">техподдержка</a></li>
				<li><a href="#">вакансии</a></li>
				<li><a href="#">блог</a></li>
				<li><a href="#">правила</a></li>
				<li><a href="#">реклама</a></li>
				<li><a href="#">магазинам</a></li>
				<li class="last"><a href="#">выход</a></li>
			</ul><!-- .footer_menu_ul-->
			
			<div class="lang_sel">
				<div class="lang_flag">
					<span>
						<img src="/images/localization/flag_ru.png" />
					</span>
				</div>
				<div class="lang_active">русский</div>
				<ul class="lang_menu">
					<li><a href="/en">английский</a></li>
					<li><a href="/ge">немецкий</a></li>
					<!-- Текущий язык помещается в список последним  -->
					<li><a href="/ru">русский</a></li>									
				</ul>
			</div><!-- .lang_sel-->
		</div><!-- .footer_menu-->
		
	</div><!-- .margins-->
</div><!-- #footer-->					

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

	
</body>


</html>

