<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-script-Type" content="text/html/javascript; charset=utf-8" /> 
<title>Plussia.ru — страна серьезных отношений: Регистрация, шаг 1</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

</head>


<body>
<div id="content">	

	<div class="register_head" id="why_we_are">
		<div class="margins">	
			<div class="register_logo"><a href="/"><img src="/images/register/logo.png" /></a></div>
			<div class="register_menu">
				<ul>
					<li><i></i><a href="/">Главная</a></li>
					<li><i></i><a href="#">Экскурсия по сайту</a></li>
					<li class="active"><i></i><a href="#">Наши преимущесмтва </a></li>
					<li><i></i><a href="#">Успешные истории</a></li>
					<li class="last"><i></i>Присоединиться</li>
				</ul>
			</div>
		</div><!-- .margins-->	
	</div><!-- .register_head-->
	
	
	<div class="register_main why_we_are_main">
		<div class="margins">
			<div class="left_column">
				<div class="left_column_in">
					<div class="goods_menu">
						<ul>
							<li><a href="#">Преимущества  Pararu.ru</a></li>
							<li><i>1</i><a href="#">Научный подход </a></li>
							<li class="active"><i>2</i><a href="#">&lt;strong&gt;S.O.N.I.C.&lt;/strong&gt;®</a></li>
							<li><i>3</i><a href="#">Эксперты-психологи</a></li>						
							<div class="clear"></div>
						</ul>
					</div>
					 
					<div class="text_block">
					
<div class="h1">Что значит Ноэтическая Совместимост<br/> и как она работает?</div>

<p>
Ноэтическая совместимость — ни что иное,  как совместимость в сексуальном, эмоциональном, психологическом и духовном плане. Создавая систему, исследователи и специалисты по ноэтике отыскали ключевые параметры, которые влияют на гармоничность и долгосрочность отношений. Они сравнивали пары, которые расстались и те, что много лет вместе, те, что счастливы и те, что считают свой союз неудачным. Все это вместе и помогло определить параметры, которые легли в основу <span class="strong">Системы Ноэтической Совместимости®</span>. 
</p>


<div class="h4">Ноэтические факторы</div>
<p>
<span class="strong">N (noetic, nature) — природа человека.</span> 
Это та самая духовная близость, которую чувствуешь интуитивно. Она возможна, если человек вам симпатичен внешне, вы подходите друг другу сексуально, эмоционально и духовно.
</p>

<div class="h4">Психологические факторы</div>
<p>
<span class="strong">I (intelligence, identity) — индивидуальность. </span> 
Каждый из людей уникален. Общие, видимые всем и скрытые глубоко качества, рождают ту самую уникальность, которая присуща только этому человеку.  Система находит индивидуальные качества, опираясь на данные из анкеты и используя сложный алгоритм расчета.
</p>

<div class="h4">Культуральные факторы</div>
<p>
<span class="strong">C (compatibility, cosmos) — космос</span> 
Одна из частей системы, которая определяет совместимость людей и помогает понять, могут ли потенциальные возможности перерасти в серьезные и долговременные отношения. 
</p>

<div class="h4">Научные Факторы</div>
<p>
<span class="strong">S (science, sun) — наука </span> 
На то, какие перспективы у ваших отношений дается ответ с научной точки зрения. Наука помогает понять подходит вам человек и что ждать от отношений с ним. 
</p>

<div class="h4">Факторы Глубинных Ценностей </div>
<p>
<span class="strong">Y (you, yellow) — то, что скрыто </span> 
Ваши истинные ценности и убеждения бывают скрыты и не лежат на поверхности. При подборе совместимого с вами человека, учитываются и подсознательные стремления, и то, что для вас действительно имеет значение. 
</p>

<div class="h4">Факторы Интересов</div>
<p>
<span class="strong">S (self, soul) — душевные стремления</span> 
Всё, что движет вами в этой жизни оставляет свой след и на ваших отношениях. Спутник жизни подбирается с учетом схожести душевных стремлений. 
</p>

<div class="h4">Факторы Традиций</div>
<p>
<span class="strong">T (technology, traditions) — мудрость традиций</span> 
Мудрость традиций, впитанная человеком с молоком матери, откладывает отпечаток на все, что происходит с вами в этой жизни. Система учитывает это и находит вам тех людей, чьи традиции не противопоставляются вашим. 
</p>

<div class="h4">Факторы Увлечений</div>
<p>
<span class="strong">E (eureka, eagle) — все, что вам интересно</span> 
Система анализирует ваши увлечения, отбирая из них те, которые влияют на длительность отношений с потенциальным партнером и важны для счастливых отношений. 
</p>

<div class="h4">Факторы Взглядов</div>
<p>
<span class="strong">M (mind, map) — все, что вам важно </span> 
Система анализирует ваши взгляды, выбирая те, что влияют на ваши отношения. В результате вам предлагают людей, с которыми вы сможете двигаться в одном направлении, не отвлекаясь на разность взглядов.	
</p>
				
				

<div class="get_in_now">
	<div class="get_in_txt">Найдите подходящего именно Вам<br/> спутника жизни по 78 параметрам<br/>Системы Ноэтической* Совместимости®!</div>
	<div class="get_in_btn">Зарегистрироваться</div>
	<div class="clear"></div>
</div>	<!-- .get_in_now-->				
					
					</div><!-- .text_block-->
				</div><!-- .left_column_in-->
			</div><!-- .left_column-->	
			
			<div class="right_column">
				<img src="/images/why_we_are/why_we_page3.png" style="right: -28px;"/>
			</div><!-- .right_column-->
			
		</div><!-- .margins-->
	</div><!-- .main-->
	
	
	<div class="clear"></div>
	<div id="empty"></div>
</div><!-- #content-->

<div id="footer">	
	<div class="margins">
		<div class="bookmarks_menu">
			<div class="path">
				<a href="#">Наши преимущесмтва </a>
				<a href="#">Преимущества  Pararu.ru </a>
			</div>
			
			<div class="one_bookmark one_bookmark9"></div>
			<div class="one_bookmark one_bookmark8"></div>
			<div class="one_bookmark one_bookmark7"></div>
			<div class="one_bookmark one_bookmark6"></div>
			<div class="one_bookmark one_bookmark5"></div>
			<div class="one_bookmark one_bookmark4"></div>
			<div class="one_bookmark one_bookmark3"></div>
			<div class="one_bookmark one_bookmark2"></div>
			<div class="one_bookmark one_bookmark1"></div>
		</div><!-- .bookmarks_menu-->
		
		<div class="footer_menu">
			<div class="rights"><a href="#">Политика конфиденциальности</a> © 2010 Plussia.ru</div>
			<ul class="footer_menu_ul">
				<li><a href="#">о сайте</a></li>
				<li><a href="#">техподдержка</a></li>
				<li><a href="#">вакансии</a></li>
				<li><a href="#">блог</a></li>
				<li><a href="#">правила</a></li>
				<li><a href="#">реклама</a></li>
				<li><a href="#">магазинам</a></li>
				<li class="last"><a href="#">выход</a></li>
			</ul><!-- .footer_menu_ul-->
			
			<div class="lang_sel">
				<div class="lang_flag">
					<span>
						<img src="/images/localization/flag_ru.png" />
					</span>
				</div>
				<div class="lang_active">русский</div>
				<ul class="lang_menu">
					<li><a href="/en">английский</a></li>
					<li><a href="/ge">немецкий</a></li>
					<!-- Текущий язык помещается в список последним  -->
					<li><a href="/ru">русский</a></li>									
				</ul>
			</div><!-- .lang_sel-->
		</div><!-- .footer_menu-->
		
	</div><!-- .margins-->
</div><!-- #footer-->					

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

	
</body>


</html>

